 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  font-family: 'Segoe UI', sans-serif;
}

.slider-container {
  position: relative;
  width: 600px;
  max-width: 95%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 15px;
  background: #fff;
}

.slider {
  position: relative;
  width: 100%;
}

.slider img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: opacity 0.5s ease;
}

#caption {
  position: absolute;
  /* bottom: 15px; */
  left: 20px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 16px;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 30px;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  transition: background 0.3s;
}

.nav-btn:hover {
  background-color: rgba(0,0,0,0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
} 






 